﻿@model AdminApplicationsLibrary.CTRC_Membership_Type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CTRC_Membership_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.membership_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.membership_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
