﻿@model IEnumerable<AdminApplicationsLibrary.CTRC_Membership_Type>

@{
    ViewBag.Title = "CTRC Membership Types";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
        .Name("CTRC_Membership_TypeGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.membership_type).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.created_at).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.updated_at).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "CTRC_Membership_Type");
            cmd.Custom("Delete").Action("Delete", "CTRC_Membership_Type");
            cmd.Custom("Details").Action("Details", "CTRC_Membership_Type");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
