﻿@model IEnumerable<AdminApplicationsLibrary.Department>

@{
    ViewBag.Title = "Departments";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
    .Name("DepartmentGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.name).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.created_at).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.updated_at).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd => {
                                    cmd.Custom("Edit").Action("Edit", "Department");
                                    cmd.Custom("Delete").Action("Delete", "Department");
                                    cmd.Custom("Details").Action("Details", "Department");
                                });  

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
