﻿@model AdminApplicationsLibrary.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chicago_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chicago_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middle_initial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middle_initial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degrees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.search_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.search_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.termination_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.termination_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pi_pssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pi_pssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.has_reviewed_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.has_reviewed_publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.has_confirmed_no_publication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.has_confirmed_no_publication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_clinical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_clinical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_translational)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_translational)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_basic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_basic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_standing_review_committee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_standing_review_committee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endowed_professorship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endowed_professorship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.current_photo_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.current_photo_location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
