﻿@model IEnumerable<AdminApplicationsLibrary.Member>


    @{
        ViewBag.Title = "Member";
    }


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @(Html.Kendo().Grid(Model)
    .Name("MemberGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.chicago_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.user_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.last_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.first_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.middle_initial).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.endowed_professorship).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "Member");
            cmd.Custom("Delete").Action("Delete", "Member");
            cmd.Custom("Details").Action("Details", "Member");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
    )
