﻿@model IEnumerable<AdminApplicationsLibrary.University_Appointment>

@{
    ViewBag.Title = "University Appointment";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
    .Name("UniversityAppointmentGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.member_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.department_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.rank_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.start_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.end_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "UniversityAppointment");
            cmd.Custom("Delete").Action("Delete", "UniversityAppointment");
            cmd.Custom("Details").Action("Details", "UniversityAppointment");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
