﻿@model AdminApplicationsLibrary.Member_Promotion_Medium

<div>
    <h4>Member_Promotion_Medium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medium_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medium_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
