﻿@model IEnumerable<AdminApplicationsLibrary.Member_Promotion_Medium>

@{
    ViewBag.Title = "Member Promotion Medium";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
        .Name("Member_Promotion_MediumGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.medium_type).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "Member_Promotion_Medium");
            cmd.Custom("Delete").Action("Delete", "Member_Promotion_Medium");
            cmd.Custom("Details").Action("Details", "Member_Promotion_Medium");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
