﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Applications</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/banner.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    @RenderSection("JavaScript", required: false)
	<script src="@Url.Content("~/Scripts/kendo/2015.3.930/jszip.min.js")"></script>
</head>
<body>
    <div class="masthead" id="bannerdiv">
        <img id="banner" src="~/Content/Images/Banner.png" />
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Administration", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Membership Lists<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Membership", "Index", "MemberList")</li>
                            <li>@Html.ActionLink("Leadership", "Leadership", "MemberList")</li>
                            <li>@Html.ActionLink("Research Interest", "ResearchInterest", "MemberList")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Comprehensive Cancer Center</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
