﻿@model AdminApplicationsLibrary.CEC_Membership

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CEC_Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.member_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.term_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.term_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.term_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.term_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
