﻿@model IEnumerable<AdminApplicationsLibrary.CEC_Membership>

@{
    ViewBag.Title = "CEC Membership";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
        .Name("CEC_MembershipGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.member_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.term_start_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.term_end_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.comments).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "CEC_Membership");
            cmd.Custom("Delete").Action("Delete", "CEC_Membership");
            cmd.Custom("Details").Action("Details", "CEC_Membership");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
