﻿@model IEnumerable<AdminApplicationsLibrary.User>

@{
    ViewBag.Title = "Users";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
    .Name("UserGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.user_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" }).Width("20%");
        columns.Bound(p => p.last_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" }).Width("17%");
        columns.Bound(p => p.first_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" }).Width("17%");
        columns.Bound(p => p.email).HeaderHtmlAttributes(new { style = "font-weight:bold;" }).Width("13%");
        columns.Bound(p => p.is_active).HeaderHtmlAttributes(new { style = "font-weight:bold;" }).Width("10%");
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "User");
            cmd.Custom("Delete").Action("Delete", "User");
            cmd.Custom("Details").Action("Details", "User");
        }).Width("23%");

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
