﻿@model AdminApplications.Models.MemberListEditViewModel
@{
    ViewBag.Title = "Edit Member Information";
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


        <h3 class="panel-heading panel-title">
            Member Information
        </h3>
@{
    var member = Model.member;
 }
<table class="table table-bordered table-striped ">
   
    <tr>
        <th style="font-weight:bold;width:25%;border-top-left-radius:5px;">@Html.LabelFor(modelItem => member.last_name)</th>
        <th style="font-weight:bold;width:25%;">@Html.LabelFor(modelItem => member.first_name)</th>
        <th style="font-weight:bold;width:20%;">@Html.LabelFor(modelItem => member.middle_initial)</th>
        <th style="font-weight:bold;width:20%;">@Html.LabelFor(modelItem => member.degrees)</th>
        <th style="font-weight:bold;width:10%;border-top-right-radius:5px;"></th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => member.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.middle_initial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.degrees)
            </td>
            <td></td>
        </tr>
    <tr>
        <th>@Html.LabelFor(modelItem => member.chicago_id)</th>
        <th>@Html.LabelFor(modelItem => member.pi_pssn)</th>
        <th>@Html.LabelFor(modelItem => member.phone)</th>
        <th>@Html.LabelFor(modelItem => member.endowed_professorship)</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => member.chicago_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.pi_pssn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.endowed_professorship)
        </td>
        <td style="text-align:center;">
        </td>
    </tr>
    <tr>
        <th>@Html.LabelFor(modelItem => member.is_basic)</th>
        <th>@Html.LabelFor(modelItem => member.is_clinical)</th>
        <th>@Html.LabelFor(modelItem => member.is_standing_review_committee)</th>
        <th>@Html.LabelFor(modelItem => member.is_translational)</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => member.is_basic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.is_clinical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.is_standing_review_committee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => member.is_translational)
        </td>
        <td style="text-align:center;">
            @Html.ActionLink("Edit", "Edit", "Member", new { id = member.id }, new { @class = "k-button k-button-icontext k-grid-Edit", style = "width:70px;" })
        </td>
    </tr>
</table>


<div id="accordion" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#MemberShipGridDiv">Membership Information</a>
            </h3>
        </div>
        <div id="MemberShipGridDiv" class="panel-collapse collapse" style="width:100%;">
            <div class="panel-body" style="width:100%;padding:0px;">
                @(Html.Kendo().Grid(Model.memberships)
    .Name("MembershipGrid")
    .Columns(columns =>
    {

        columns.Bound(p => p.start_date).HeaderHtmlAttributes(new { style = "font-weight:bold;width:30%;" });
        columns.Bound(p => p.end_date).HeaderHtmlAttributes(new { style = "font-weight:bold;width:30%;" });
        columns.Bound(p => p.Program).HeaderHtmlAttributes(new { style = "font-weight:bold;width:30%;" });
        columns.Command(cmd => { cmd.Custom("Edit").Action("Edit", "Membership"); });

    })
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
                )
                @*<script type="text/javascript">

                    function EditMembershipInfo(e) {
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                        var ContentURL = "../../Membership/Edit/" + dataItem.id.toString();

                        window.location.assign(ContentURL);

                    }
                </script>*@
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#UniversityGridDiv">University Appointment Information</a>
            </h3>
        </div>
        <div id="UniversityGridDiv" class="panel-collapse collapse" style="width:100%;">
            <div class="panel-body" style="width:100%;padding:0px;">
                @{
               }
                @(Html.Kendo().Grid(Model.universityAppointments)
    .Name("UAppointmentGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.start_date).HeaderHtmlAttributes(new { style = "font-weight:bold;width:30%;" });
        columns.Bound(p => p.end_date).HeaderHtmlAttributes(new { style = "font-weight:bold;width:30%;" });
        columns.Bound(p => p.Rank).HeaderHtmlAttributes(new { style = "font-weight:bold;width:15%;" });
        columns.Bound(p => p.Department).HeaderHtmlAttributes(new { style = "font-weight:bold;width:15%;" });
        columns.Command(cmd => { cmd.Custom("Edit").Action("Edit", "UniversityAppointment"); });

    })
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )

    .TableHtmlAttributes(new { style = "padding:-15px;" })

)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#ContactGridDiv">Contacts</a>
            </h3>
        </div>
        <div id="ContactGridDiv" class="panel-collapse collapse" style="width:100%;">
            <div class="panel-body" style="width:100%;padding:0px;">
                @(Html.Kendo().Grid(Model.contacts)
    .Name("ContactListGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.last_name).HeaderHtmlAttributes(new { style = "font-weight:bold;width:25%;" });
        columns.Bound(p => p.first_name).HeaderHtmlAttributes(new { style = "font-weight:bold;width:25%;" }).Width("25%");
        columns.Bound(p => p.email1).HeaderHtmlAttributes(new { style = "font-weight:bold;width:20%;" });
        columns.Bound(p => p.phone1).HeaderHtmlAttributes(new { style = "font-weight:bold;width:20%;" });
        columns.Command(cmd => { cmd.Custom("Edit").Action("Edit", "Contact"); });

    })
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )

                )
            </div>
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#PublicationsGridDiv">Publications</a>
            </h3>
        </div>
        <div id="PublicationsGridDiv" class="panel-collapse collapse" style="width:100%;">
            <div class="panel-body" style="width:100%;padding:0px;">
                    @(Html.Kendo().Grid<AdminApplicationsLibrary.Publication>(Model.publications)
        .Name("PublicationsGrid")

        .Columns(columns =>
        {
            columns.Bound(p => p.title).HeaderHtmlAttributes(new { style = "font-weight:bold;width:35%;" }).HtmlAttributes(new { style = ";width:35%;" });
            columns.Bound(p => p.publication_year).HeaderHtmlAttributes(new { style = "font-weight:bold;width:5%;" }).HtmlAttributes(new { style = ";width:5%;" });
            columns.Bound(p => p.author_names).HeaderHtmlAttributes(new { style = "font-weight:bold;width:35%;" }).HtmlAttributes(new { style = ";width:35%;" });
            columns.Bound(p => p.journal_title).HeaderHtmlAttributes(new { style = "font-weight:bold;width:25%;" }).HtmlAttributes(new { style = ";width:25%;" });

        })
                                    .TableHtmlAttributes(new { style = "tbody-height:450px;" })
            .Scrollable(scr => scr.Height(430))
                    )
            </div>
        </div>
    </div>
</div>



