﻿@model AdminApplicationsLibrary.Publication

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h2>All Publications</h2>
    <ul id="publications" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="pubId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="publication" />
</div>
<script>

    var uri = 'api/publication';

    $(document).ready(
        function () {
            $.getJSON(uri)
            .done(
            function (data) {
                $.each(data, function (key, item) {
                    $('<li>', { text: formatItem(item) }).appendTo($('#publications'));
                });
            });
        });


    function formatItem(item) {
        return item.id + ': ' + item.title;
    }

    function find() {
        var id = $('#pubId').val();
        var url = uri + '/Get/' + id;
        $.getJSON(url).done(function (data) {
            $('#publication').text(formatItem(data));
        });
    }

</script>
