﻿@model AdminApplicationsLibrary.Member
<div style="height:480px;overflow-y:auto;">
    @(Html.Kendo().Grid<AdminApplicationsLibrary.Publication>()
        .Name("PublicationsGrid")

        .Columns(columns =>
        {
            columns.Bound(p => p.title).HeaderHtmlAttributes(new { style = "font-weight:bold;width:35%;" });
            columns.Bound(p => p.publication_year).HeaderHtmlAttributes(new { style = "font-weight:bold;width:5%;" });
            columns.Bound(p => p.author_names).HeaderHtmlAttributes(new { style = "font-weight:bold;width:35%;" });
            columns.Bound(p => p.journal_title).HeaderHtmlAttributes(new { style = "font-weight:bold;width:25%;" });

        })
                //.TableHtmlAttributes(new { style="tbody-height:430px;"})
        .Scrollable()
                .DataSource(dataSource => dataSource.Custom().Transport(
                                transport => transport.Read(read => read.Url("publication1/ListPublications/" + @Model.id).DataType("json"))
        )
   )
    )
    </div>

<script id="template" type="text/x-kendo-template">
    <tr style="width:100%;border-radius:5px 5px;">
        <td style="width:38%;border: 1px solid black;border-collapse:collapse;">#= title #</td>
        <td style="width:2%;border: 1px solid black;border-collapse:collapse;">#= publication_year #</td>
        <td style="width:35%;border: 1px solid black;border-collapse:collapse;">#= author_names #</td>
        <td style="width:25%;border: 1px solid black;border-collapse:collapse;">#= journal_title #</td>
    </tr>
</script>

<script id="alttemplate" type="text/x-kendo-alttemplate">
    <tr style="background-color:lightgrey;width:100%;">
        <td style="width:38%;border: 1px solid black;border-collapse:collapse;">#= title #</td>
        <td style="width:2%;border: 1px solid black;border-collapse:collapse;">#= publication_year #</td>
        <td style="width:35%;border: 1px solid black;border-collapse:collapse;">#= author_names #</td>
        <td style="width:25%;border: 1px solid black;border-collapse:collapse;">#= journal_title #</td>
    </tr>
</script>

<script>
    $(document).ready(function () {
        var gridWidget = $("#PublicationsGrid").data("kendoGrid");
        gridWidget.wrapper.height(450);
        //gridWidget.resize();
        //gridWidget.resize(true);
    });
</script>
    @*<div style="max-height:480px;overflow-y:auto;border:1px solid black;border-radius:5px 5px;">


        <table id="publications" style="width:100%;border: 1px solid black;border-collapse:collapse;overflow-y:scroll;max-height:480px;border-radius:5px 5px;">
            <thead style="border-radius:5px 5px;">
                <tr style="border-radius:5px 5px;">
                    <th style="width:38%;border: 1px solid black;border-collapse:collapse;">Title</th>
                    <th style="width:2%;border: 1px solid black;border-collapse:collapse;">Year</th>
                    <th style="width:35%;border: 1px solid black;border-collapse:collapse;">Authors</th>
                    <th style="width:25%;border: 1px solid black;border-collapse:collapse;">Journals</th>
                </tr>
            </thead>
            <tbody id="publicationlist" style="max-height:480px;border-radius:5px 5px;">
                <tr style="border-radius:5px;">
                    <td colspan="5"></td>
                </tr>
            </tbody>
        </table>

    </div>
<script id="template" type="text/x-kendo-template">
    <tr style="width:100%;border-radius:5px 5px;">
        <td style="width:38%;border: 1px solid black;border-collapse:collapse;">#= title #</td>
        <td style="width:2%;border: 1px solid black;border-collapse:collapse;">#= publication_year #</td>
        <td style="width:35%;border: 1px solid black;border-collapse:collapse;">#= author_names #</td>
        <td style="width:25%;border: 1px solid black;border-collapse:collapse;">#= journal_title #</td>
    </tr>
</script>

<script id="alttemplate" type="text/x-kendo-alttemplate">
    <tr style="background-color:lightgrey;width:100%;">
        <td style="width:38%;border: 1px solid black;border-collapse:collapse;">#= title #</td>
        <td style="width:2%;border: 1px solid black;border-collapse:collapse;">#= publication_year #</td>
        <td style="width:35%;border: 1px solid black;border-collapse:collapse;">#= author_names #</td>
        <td style="width:25%;border: 1px solid black;border-collapse:collapse;">#= journal_title #</td>
    </tr>
</script>

<script>
</script>

    <script type="text/javascript">

        $(document).ready(function () {
            var template = kendo.template($("#template").html());
            var alttemplate = kendo.template($("#alttemplate").html());

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read:
                        {
                            url: '../../api/publication/ListPublications/'+@Model.id,
                            dataType:   "json"
                        }
                } ,
                requestStart: function () {
                    kendo.ui.progress($('#publicationlist'), true);
                },
                requestEnd: function () {
                    kendo.ui.progress($('#publicationlist'), false);
                },
                change: function () {
                    $('#publicationlist').html(kendo.render(template, this.view()));
                }
            });

            dataSource.fetch();
            //dataSource.read();
            //$("#publicationlist").kendoGrid({
            //    dataSource:dataSource,
            //    rowTemplate: kendo.template($("#template").html()),
            //    altRowTemplate: kendo.template($("#alttemplate").html())
            //});
          
        });

    </script>*@
