﻿@model AdminApplicationsLibrary.Membership

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.membership_status_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.membership_status_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_program_leader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_program_leader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_facility_director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_facility_director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_cac_member)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_cac_member)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.original_end_date_before_termination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.original_end_date_before_termination)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
