﻿@model IEnumerable<AdminApplicationsLibrary.Membership>


    @{
        ViewBag.Title = "Memberships";
    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @(Html.Kendo().Grid(Model)
    .Name("MembershipGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.member_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.program_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.membership_status_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.start_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.end_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.original_end_date_before_termination).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.is_program_leader).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.is_facility_director).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.is_cac_member).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "Membership");
            cmd.Custom("Delete").Action("Delete", "Membership");
            cmd.Custom("Details").Action("Details", "Membership");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
    )
