﻿@model IEnumerable<AdminApplicationsLibrary.Sam_Member>


    @{
        ViewBag.Title = "SAM Members";
    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @(Html.Kendo().Grid(Model)
            .Name("Sam_MemberGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.last_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.first_name).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.is_active).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "Sam_Member");
            cmd.Custom("Delete").Action("Delete", "Sam_Member");
            cmd.Custom("Details").Action("Details", "Sam_Member");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
    )
