﻿@model AdminApplicationsLibrary.Member_Communication

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member_Communication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.member_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promotion_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotion_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promotion_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotion_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promotion_medium_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promotion_medium_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.media_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media_link)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
