﻿@model IEnumerable<AdminApplicationsLibrary.Member_Communication>

    @{
        ViewBag.Title = "Member Communication";
    }


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @(Html.Kendo().Grid(Model)
            .Name("Member_CommunicationGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.member_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.promotion_date).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.promotion_description).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.promotion_medium_id).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.media_link).HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "Member_Communication");
            cmd.Custom("Delete").Action("Delete", "Member_Communication");
            cmd.Custom("Details").Action("Details", "Member_Communication");
        });

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
    )
