﻿@model IEnumerable<AdminApplicationsLibrary.CTRC_Member>

@{
    ViewBag.Title = "CTRC Member";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
        .Name("CTRC_MemberGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.user_id).Width("5%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.member_id).Width("5%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.last_name).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.first_name).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.ctrc_membership_type_id).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.is_active).Width("10%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.simplified_review).Width("10%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd =>
        {
            cmd.Custom("Edit").Action("Edit", "CTRC_Member");
            cmd.Custom("Delete").Action("Delete", "CTRC_Member");
            cmd.Custom("Details").Action("Details", "CTRC_Member");
        }).Width("25%");

    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .PageSize(20)
     )
)
