﻿@model IEnumerable<AdminApplicationsLibrary.Contact>

@{
    ViewBag.Title = "Contact List";
}

<h2>Index</h2>


@(Html.Kendo().Grid(Model)
    .Name("ContactGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.last_name).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.first_name).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.contact_type).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Bound(p => p.email1).Width("15%").HeaderHtmlAttributes(new { style = "font-weight:bold;" });
        columns.Command(cmd => { cmd.Custom("Edit").Action("Edit", "Contact");
            cmd.Custom("Delete").Action("Delete", "Contact"); 
            cmd.Custom("Details").Action("Details", "Contact");
        }).Width("25%");
    })
    .ToolBar(cmd => { cmd.Create();  })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height("*"))
    .Filterable()
    .Editable(editable=>editable.Mode(GridEditMode.PopUp))
    .DataSource(dataSource => dataSource
            .Server()
            .Model(model => model.Id(p => p.id))
            .Create(
            create=>create.Action("Create","Contact")
            )
            .PageSize(20)
     )
)
